[submodule "BAG_framework"]
	path = BAG_framework
	url = https://github.com/xlchan/BAG_framework.git
[submodule "cds_ff_mpt"]
	path = cds_ff_mpt
	url = https://github.com/xlchan/cds_ff_mpt-1.git
[submodule "BAG2_TEMPLATES_EC"]
	path = BAG2_TEMPLATES_EC
	url = https://github.com/xlchan/BAG2_TEMPLATES_EC.git
[submodule "BAG_XBase_demo"]
	path = BAG_XBase_demo
	url = https://github.com/xlchan/BAG_XBase_demo.git
[submodule "bag_advanced_examples"]
	path = bag_advanced_examples
	url = https://github.com/xlchan/bag_advanced_examples.git
[submodule "bag_testbenches"]
	path = bag_testbenches
	url = https://github.com/xlchan/bag_testbenches.git

